#infographics {
    height: 100%;
    width: 100%;
}
.infocard {
    height:calc(50% - 16px);
    width:calc(50% - 16px);
    margin:8px;
    border-radius: 6%;
    box-shadow: 4px 4px 4px 1px rgba(0,0,0,0.03);
    position: relative;
}

.infocard-left {
    float: left;
}

.infocard-right {
    float:right;
}

.info-title {
    position:absolute;
    bottom: 7%;
    left: 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    /* text-align: center; */
    /* padding: 0px 0px 0px 50px; */
    /* background: rgb(150, 150, 150); */
    border-radius: 20px;
    color: rgb(124, 124, 124);
}

.info-gauge{
    width: 100%;
    /* background: grey; */
    height: 60%;
}

.info-value {
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: black;
    height: 15%;
    width: 50%;
    font-weight: 600;
    float: left;
    padding-top: 4%;
}

.info-unit {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: rgb(196, 196, 196);
    height: 15%;
    width: 50%;
    font-weight: 600;
    float: left;
    padding-top: 4%;
}

#trip-value {
    width: 60%;
}

#trip-unit {
    width: 40%;
}

.trips {
    height: calc(30% - 6px);
    width:100%;
    margin: 3px;
    /* background:purple; */
    padding: 2px;
    margin-top: 7px;
}

.trip-id {
    height: 100%;
    width: 25%;
    text-align: center;
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 700;
    padding-top: 2%;
}
.trip-button {
    height: 50%;
    width: 30%;
    float: left;
    margin-top: 3%;
    background: rgb(190, 190, 190);
    border-radius: 40px;
    overflow:hidden;
    position: relative;
}
.trip-button-hlight {
    height: 100%;
    width: 0%;
    background: #40e0d0;
    border-radius : 20px;
    position: absolute;
    z-index: 2;
}

.trip-switch {
    height : 80%;
    width : 28%;
    border-radius : 50%;
    background : white;
    position:absolute;
    z-index: 3;
    bottom:5px;
    /* left:3px; */
    margin-left:4%;
}

.trip-value {
    /* background: grey; */
    height: 100%;
    width: 35%;
    float: left;
}
@keyframes activate-trip-bg {
    0% {
      width: 0%;
    }
    100%{
      width: 100%;
    }
  }

  @keyframes activate-trip-switch {
    0% {
      margin-left: 4%;
    }
    100%{
      margin-left: 68%;
    }
  }
  @keyframes deactivate-trip-bg {
    0% {
      width: 100%;
    }
    100%{
      width: 0%;
    }
  }

  @keyframes deactivate-trip-switch {
    0% {
      margin-left: 68%;
    }
    100%{
      margin-left: 4%;
    }
  }

  #total-distance-gauge {
      margin-top: 0;
  }
  #total-distance-value{
      height: 100%;
      width: 100%;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 170px;
      font-weight: 300;
      text-align: center;
      color: black;
      padding-top: 10%;
      
  }

  #total-distance-unit {
    /* padding-top: 35px;
    height: 90%;
    width: 40%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    font-weight: 700;
    color:grey;
    float: left;
    text-align: left; */
    text-align: center;
    width: 95%;
}