#map{
    height: 100%;
    width: 100%;
    float: right;
    text-align: center;
    overflow: hidden;
    /* background-image: url("images/no-internet.png"); */
    /* box-shadow: 0px 11px 6px -8px rgba(0,0,0,0.3); */
}
#slide{
  overflow: hidden;

}
.navigation-form {
    height: 10%;
    /* display: none; */
    text-align: center;
    line-height:80px;
}

.status {
    height: calc(185px + 20%);
    /* height: 120px; */
    /* padding-top: 10%; */
    overflow: hidden;
    padding: 10%;
}
/* .simple-keyboard {
	display: none;
} */
#yatri-estate{
  /* display: flexbox; */
  height: 50%;
}

input[type=text] {
    width: 90%;
    height:65%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    vertical-align: middle;
  }
  
  input[type=text]:focus {
    width: 90%;
  } 

  .button {
    width: 35%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 2rem;
    color: #ffffff;
    background-color: #ccc;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 30px;
    vertical-align: middle;
    box-shadow: 5px 9px 5px -4px rgb(219, 219, 219);
    }

    #yatri-estate-2 {
      height: 120px;
      overflow: hidden;
    }
/*
Non-Standby-Mode Keyboard Transition
*/
@keyframes vanishingStatus {
  0% {
    height: calc(185px + 10%);
    /* padding: 10%; */
    opacity: 0.4;
  }
  100% {
    height: 0px;
    /* padding: 0%; */
    opacity: 0;
  }
}

@keyframes vanishingStatusPadding {
  0% {
    padding: 10%;
  }
  100% {
    padding: 0%;
  }
}

@keyframes appearingStatus {
  0% {
    height: 0px;
    /* padding: 0%; */
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    height: calc(185px + 10%);
    /* padding: 10%; */
    opacity: 1;
  }
}

@keyframes appearingStatusPadding {
  0% {
    padding: 0%;
  }
  100% {
    padding: 10%;
  }
}
/* Standby-Mode Keyboard Transition */
@keyframes vanishingStatusInStandby {
  0% {
    height: 120px;
    /* filter: blur(2px); */
    /* padding: 10%; */
    opacity: 0.3;
  }
  100% {
    height: 0px;
    /* filter: blur(6px); */
    /* padding: 0%; */
    opacity: 0;
  }
}

@keyframes appearingStatusInStandby {
  0% {
    height: 0px;
    /* padding: 0%; */
    opacity: 0;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    height: 120px;
    /* padding: 10%; */
    opacity: 1;
  }
}

/* Standby<->Non-Standby Tansition */
@keyframes vanishingGreeter {
  0% {
    height: 18%;
    opacity: 0.6;
    padding-top: 15px;
  }
  100% {
    height: 0%;
    opacity: 0;
    padding-top: 0px;
  }
}

@keyframes appearingGreeter{
  0% {
    height: 0%;
    opacity: 0;
    padding-top: 0px;
  }
  75% {
    opacity: 0.4;
  }
  100% {
    height: 18%;
    opacity: 1;
    padding-top: 18px;
  }
}

@keyframes appearingIndicators{
  0% {
    height: 120px;
  }
  100% {
    height: calc(185px + 10%);
  }
}

@keyframes vanishingIndicators{
  0% {
    height: calc(185px + 10%);
  }
  100% {
    height: 120px;
  }
}

@keyframes appearingIndicatorsOpacity {
  0% {
    opacity: 0.3;
    
  }
  100% {
    opacity: 1;
  }
}

@keyframes vanishingIndicatorsOpacity{
  0% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
  }
}

@keyframes vanishingExtraStatus{
  0% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
  }
}

@keyframes appearingExtraStatus{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rangeEnlarge {
  0% {
    font-size: 30px;
  }
  100% {
    font-size: 45px;
  }
}

@keyframes rangeSqueeze {
  0% {
    font-size: 45px;
  }
  100% {
    font-size: 30px;
  }
}

@keyframes appearingHeartbeat {
  0% {
    /* width:0%; */
    height: 0%;
    opacity: 0.4;
  }
  100%{
    /* width:100%; */
    height: 100%;
    opacity: 1;
  }
}

@keyframes vanishingMap{
  0% {
    /* width:100%; */
    height: 100%;
    /* opacity: 0.75; */
  }
  100%{
    /* width:0%; */
    height: 0%;
    /* opacity: 0.2; */
  }
}

@keyframes vanishingHeartbeat {
  0% {
    /* width:100%; */
    height: 100%;
    opacity: 1;
  }
  100%{
    /* width:0%; */
    height: 0%;
    opacity: 0;
  }
}

@keyframes appearingMap{
  0% {
    /* width:0%; */
    height: 0%;
    opacity: 0.2;
  }
  100%{
    /* width:100%; */
    height: 100%;
    opacity: 1;
  }
}

@keyframes appearingBabbalInfo {
  0% {
    height:0%;
    opacity: 0.4;
  }
  100%{
    /* height:197px; */
    height: 110px;
    opacity: 1;
  }
}

@keyframes vanishingBabbalInfo {
  0% {
    /* height:197px; */
    height: 110px;
    opacity: 0.75;
  }
  100%{
    height:0px;
    opacity: 0;
  }
}

@keyframes expandingLogo {
  0% {
    height:13%;
    line-height: 160px;
  }
  100%{
    height:30%;
    line-height: 300px;
  }
}

@keyframes expandingLogoActual {
  0% {
    width:200px;
  }
  100%{
    width:350px;
  }
}

@keyframes shrinkingLogo {
  0% {
    height:30%;
    line-height: 300px;
  }
  100%{
    height:13%;
    line-height: 160px;
  }
}

@keyframes shrinkingLogoActual {
  0% {
    width:350px;
  }
  100%{
    width:200px;
  }
}

@keyframes babbalOn {
  0% {
    height:0px;
  }
  100%{
    height:650px;
  }
}

@keyframes thikkaOff {
  0% {
    height:650px;
  }
  100%{
    height:0px;
  }
}

@keyframes babbalOff {
  0% {
    height:650px;
  }
  100%{
    height:0px;
  }
}
@keyframes thikkaOn {
  0% {
    height:0px;
  }
  100%{
    height:650px;
  }
}

@keyframes vanishingInfo {
  0% {
    height:74px;
    opacity: 0.8;
  }
  100%{
    height:0px;
    opacity: 0;
  }
}
@keyframes appearingInfo {
  0% {
    height:0px;
    opacity: 0.25;
  }
  100%{
    height:74px;
    opacity: 1;
  }
}

#babbal {
  width:480px;
  height:0px;
  padding:0px;
  margin:0px;
  background-color:white;
  overflow: hidden;
}