#range-info {
    /* position: absolute; */
    background: lime;
    width: 80%;
    height: 0%;
}

/* #status-range {
    width: 45%;
} */
#range-value {
    font-size: 120px;
}

#range-unit {
  font-size: 60px;
    margin-top: 70px;
}

@keyframes shrinking-status-range-width {
    0% {
      width: 45%;
    }
    100%{
      width: 34%;
    }
  }

  @keyframes shrinking-range-value-font {
    0% {
      font-size: 120px;;
    }
    100%{
      font-size: 90px;
    }
  }

  @keyframes shrinking-range-unit-margin {
    0% {
      margin-top: 55px;;
    }
    100%{
      margin-top: 35px;
    }
  }

  .popover-title{
      color: pink;
  }

  /* #range-container{
      height: 70px;
      width: 300px; */
      /* background: pink;
  } */

  #range-suste{
      height: 100%;
      width: 33%;
      float: left;
      font-family: 'Comfortaa', cursive;
      text-align: center;
      font-size:40px;
      font-weight: bold;
      /* background: lime; */
  }
  #range-thikka{
    height: 100%;
    width: 33%;
    float: left;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 40px;
    font-weight: bold;
    /* background: grey; */
}
#range-babbal{
    height: 100%;
    width: 34%;
    float: left;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 40px;
    font-weight: bold;
    /* background: yellow; */
}

.popover{
    max-width: 1200px !important;
    width: 900px;
}

.pop-range-value{
    width: 50%;
    float: left;
    text-align: right;
}

.pop-range-unit{
    width: 50%;
    float: left;
    text-align: left;
}

#power-pop {
  width: 25%;
  height: 75%;
  position: absolute;
  top: 30%;
  left: 74%;
  /* display: none; */
}

#power-pop-box {
  margin-top: 30%;
  width: 90%;
  height: 20%;
  background: rgba(220, 220, 220, 0.3);
  border-radius: 90px 0px 0px 90px;
}

#power-pop-value {
  width: 55%;
  float: left;
  font-size: 5rem;
  text-align: right;
}

#power-pop-unit {
  width: 45%;
  float: left;
  font-size: 4rem;
  line-height: 2;
  color: rgb(170, 170, 170);
  text-align: left;
}