* {
    /* height: 1920px;
    width: 1200px; */
    font-family: 'Barlow', sans-serif;
    font-size: 30px;
    /* cursor: none; */
}
.startup {
    height: 1920px;
    width: 1200px;
    display: absolute;
    z-index: 1000;
}
.page {
    height: 1920px;
    width: 1200px;
    display:absolute;
    left: 0;
    top: 0;
    z-index : 0;
}
.frame-notification {
    position: relative;
    height:5%;
    width: 100%;
    padding-left: 5%;
}
.frame-status {
    position: relative;
    height: 13%;
    width: 80%;
    margin-left: 10%;
}
.frame-mode {
    position: relative;
    height: 9%;
    width: 100%;
}
.frame-slider {
    position: relative;
    height: 59%;
    width: 100%;
}
.frame-logo {
    position: relative;
    height: 14%;
    width: 100%;
}