#notification-time {
    position: relative;
    float: right;
    width: 18%;
    height: 60%;
    margin-right: 0.5%;
    margin-top: 1.5%;
    font-size: 35px;
    text-align: center;

    color: #898989;
}

.notification-signal {
    position: relative;
    float: left;
    width: 60px;
    height: 60px;
}

#notification-hibeam{
    display:none;
}
#notification-lowbeam{
    display:none;
}
#notification-leftsidelight{
    display:none;
}
#notification-rightsidelight{
    display:none;
}

@keyframes signal-activate {
    from {
        display: none;
    }
    to {
        display: block;
    }
}