/* #slider {
    position: relative;
    height: 100%;
    width: 100%;
}
#slide {
    position: relative;
    height: 100%;
    width: 100%;
    background: lime;
}
#slider-inner {
    position: relative;
    height: 100%;
    width: 100%;
    background: white;
}
.slides {
    position: relative;
    height: 100%;
    width: 100%;
}
#slide-image-bike {
    position: absolute;
    width: 90%;
    height: 30%;
    top: 10%;
    left: 8%;
} */

#slider-one {
    position: relative;
    height: 100%;
    width: 100%;
}

.slide-content {
    position: relative;
    height: 100%;
    width: 100%;
}
#slide-image-bike {
    position: absolute;
    /* width: 90%;
    height: 50%; */
    height:675px;
    width: 1200px;
    top: 20%;
    /* left: 8%; */
}
#slide-map {
    position: relative;
    height: 100%;
    width: 100%;
}
#left-slider {
    position: absolute;
    display: none;
    width: 145px;
    height: 80px;
    left: 44px;
    top: 970px;
    opacity: 1;
    /* background: #FFFFFF;
    border: 2px solid #D3D3D3;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px; */
}

#right-slider {
    position: absolute;
    display:block;
    width: 145px;
    height: 80px;
    left: 1011px;
    top: 970px;
    opacity: 1;
    /* background: #FFFFFF;
    border: 2px solid #D3D3D3;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px; */
}
#slide-to-map {
    position: relative;
    width: 145px;
    height: 80px;

    box-sizing: border-box;
    border-radius: 40px;
}

/* #icon-map {
    position: absolute;
    left:10%;
    bottom: 15%;
} */

.slider-right {
    /* position: absolute;
    left:10%;
    bottom: 15%; */
}

#icon-map-right {
    position: absolute;
    width: 40%;
    height: 70%;
    left:20%;
    bottom: 20%;
}
/* #icon-home {
    position: absolute;
    right:5%;
    bottom: 10%;
} */
.slider-left {
    /* position: absolute;
    right:5%;
    bottom: 10%; */
}

#slide-gradient-top {
    position: absolute;
    width: 1200px;
    height: 150px;
    left: 0px;
    top: -1px;

    background: linear-gradient(180deg, #FFFFFF 30%, rgba(255, 255, 255, 0) 100%);
}

#slide-gradient-bottom {
    position: absolute;
    width: 1200px;
    height: 120px;
    left: 0px;
    bottom: -2px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 30%, #FFFFFF 100%);
}

#navigation-button {
    position: absolute;
width: 295px;
height: 80px;
left: 58px;
top: 86px;

background: #30D5C8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 40px;

font-family: Barlow;
font-style: normal;
font-weight: bold;
font-size: 35px;
line-height: 75px;
text-align: center;
/* identical to box height */

color: #FFFFFF;
z-index: 10000;
}
#locationField {
    width: 736px;
    height: 80px;
    left: 58px;
    top: 86px;
    display: block;
}
  /* input[type=text] {
    width: 100%;
    height:100%;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    font-size: 45px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 50px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    vertical-align: middle;
    text-align: left;
    color: black;
    display:none;
  }
  
  input[type=text]:focus {
    /* width: 100%; */
    outline: none
}  */

.pac-item-query{
    font-size:50px;
}

.pac-icon {
    /* height: 100%; */
    width: inherit !important;
}

#search-suggestions{
    position: absolute;
min-width: 736px;
/* height: 324px; */
/* height: 80px; */
left: 58px;
top: 196px;

background: #FFFFFF;
border: 1px solid #C4C4C4;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 40px;
color: black;
padding: 3%;
font-size: 45px;
display: none;
flex-wrap: nowrap;
flex-direction: column;
}

#search-suggestions > div {
    font-size: 35px;
    display: flex;
    line-height: 200%;
}

#summary-box {
    position: absolute;
    width: 698px;
    height: 80px;
    left: 265px;
    top: 970px;
    padding-left: 5%;
    padding-right: 5%;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    color: black;
    display:none;
    font-size: 45px;
    line-height: 160%;
}

#summary-label {
    width: 70%;
    height: 100%;
    color: black;
    font-size: 45px;
    display:block;
    float: left;
    color: #6A6A6A;
    overflow: hidden;
}

#summary-distance {
    width: 30%;
    height: 100%;
    color: black;
    font-size: 45px;
    display:block;
    float: left;
    text-align: right;
    color: #6A6A6A;
}

#s-keyboard {
    display: none;
    z-index: 100;
    position: absolute;
    top: 1510px;
    /* height: 40% !important; */
    width: 100%;
    background-color: #C4C4C4;
}

#maneuver-box{
    position: absolute;
    display:none;
    width: 900px;
    height: 165px;
    left: 70px;
    top: 86px;

    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;

    color: black;
    padding-left: 5%;
    padding-top: 1%;
}

#end-navigation-button{
    position: absolute;
    height: 85px;
    width: 85px;
    right: 0px;
    top: 175px;
    border-radius: 80px;
    display:none;
}
#start-navigation-button{
    position: absolute;
    height: 88px;
    width: 88px;
    right: 0px;
    top: 185px;
    background-color: white;
    border-radius: 80px;
    box-shadow: 0px 6px 8px grey;
}
/* Mapbox */
#inputs,
#errors,
#directions {
    position: absolute;
    width: 33.3333%;
    max-width: 300px;
    min-width: 200px;
}

#inputs {
    z-index: 10;
    top: 10px;
    left: 10px;
}

#directions {
    z-index: 1000;
    background: rgba(0,0,0,.8);
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

#errors {
    z-index: 8;
    opacity: 0;
    padding: 10px;
    border-radius: 0 0 3px 3px;
    background: rgba(0,0,0,.25);
    top: 90px;
    left: 10px;
}

/* 
 */
 .mapboxgl-ctrl-geocoder {
    font-size: 18px;
    line-height: 24px;
    /* font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif; */
    font-family: Barlow;
    position: relative;
    background-color: #fff;
    width: 100%;
    min-width: 1000px;
    min-height: 70px;
    z-index: 1;
    border-radius: 45px;
    transition: width .25s, min-width .25s;
    padding-left: 30px;
    padding-top: 5px;
    /* position: absolute; */
    /* top: 1%; */
    /* display: none; */
  }
  
  .mapboxgl-ctrl-geocoder--input {
    font-family: Barlow;
    width: 100%;
    border: 0;
    background-color: transparent;
    margin: 0;
    height: 50px;
    color: #404040; /* fallback */
    color: rgba(0, 0, 0, 0.75);
    padding: 6px 55px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 50px;
  }
  .mapboxgl-ctrl-geocoder input[type='text'] {
    font-family: Barlow;
    width: 100%;
    border: 0;
    background-color: transparent;
    margin: 0;
    height: 80px;
    color: #404040; /* fallback */
    color: rgba(0, 0, 0, 0.75);
    padding: 6px 55px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 50px;
  }
  .geocoder-dropdown-item {
    padding: 5px;
    }
    .geocoder-dropdown-icon {
    margin-right: 10px;
    }
    .geocoder-dropdown-text {
    margin-left: 5px;
    color: grey;
    font-family: Barlow;
    font-size: 40px;
    }

    .mapboxgl-ctrl-geocoder .suggestions > li {
        cursor: default;
        display: block;
        padding: 6px 12px;
        color: #404040;
        max-height: 90px;
        font-size: 30px;;
      }

      .mapboxgl-ctrl-geocoder--icon-search {
        left: 18px;
        top: 20px;
        width: 40px;
        height: 40px;
        /* margin-left: 5px; */
      }
      .mapboxgl-ctrl-geocoder--icon-close {
        width: 30px;
        height: 30px;
        margin-top: 3px;
        margin-right: 0;
      }
    
    .mapboxgl-ctrl-geocoder.mapboxgl-ctrl-geocoder--collapsed {
        height: 80px;
        width: 80px;
        min-width: 80px;
        transition: width .25s, min-width .25s;
        border-radius: 80px;
        box-shadow: 0px 3px 10px grey;
    }

    .mapboxgl-ctrl-geocoder--suggestion-title{
        margin-bottom: 10px;
    }

    /* .geocoder {
        position: absolute;
        z-index: 1;
        width: 50%;
        left: 50%;
        margin-left: -25%;
        top: 1000px;
        } */
    #navigation-north{
        position: absolute;
        right: 0px;
        top: 95px;
    }

    .current-marker {
        background-image: url('../icons/current-marker.png');
        background-size: 70px 70px;
        width: 70px;
        height: 70px;
      }
      .destination-marker {
        background-image: url('../icons/destination-marker.png');
        background-size: 50px 50px;
        width: 50px;
        height: 50px;
      }
