#power-status{
    position: absolute;
    float: left;
    height: 65%;
    width: 24%;
    left: 0;
    bottom: 0;
    text-align: center;
}
.status-value-left{
    position: relative;
    height: 70%;
    width: 100%;
    font-size: 80px;
}
.status-unit-left{
    position: relative;
    height: 30%;
    width: 100%;
    font-size: 45px;
    color: #898989;
}

#speed-status{
    position: absolute;
    float: left;
    height: 100%;
    width: 28%;
    left: 36%;
    bottom: 0;
    text-align: center;
}
.status-value-middle{
    position: relative;
    height: 85%;
    width: 100%;
    font-size: 200px;
    line-height: 105%;
}
.speed-status-middle{
    position: relative;
    height: 15%;
    width: 100%;
    font-size: 45px;
    line-height: 100%;
    color: #898989;
}


#soc-status{
    position: absolute;
    float: left;
    height: 65%;
    width: 24%;
    right: 0;
    bottom: 0;
    text-align: center;
}
.status-value-right{
    position: relative;
    height: 70%;
    width: 100%;
    font-size: 80px; 
}
.status-unit-right{
    position: relative;
    height: 30%;
    width: 100%;
    font-size: 45px;
    color: #898989;
}

/* #power-status{
    position: absolute;
    float: left;
    height: 65%;
    width: 24%;
    left: 0;
    bottom: 0;
    text-align: center;
}
#power-status-value{
    position: relative;
    height: 70%;
    width: 100%;
    font-size: 80px;
}
#power-status-unit{
    position: relative;
    height: 30%;
    width: 100%;
    font-size: 45px;
    color: #898989;
}


#speed-status{
    position: absolute;
    float: left;
    height: 100%;
    width: 28%;
    left: 36%;
    bottom: 0;
    text-align: center;
}
#speed-status-value{
    position: relative;
    height: 85%;
    width: 100%;
    font-size: 200px;
    line-height: 105%;
}
#speed-status-unit{
    position: relative;
    height: 15%;
    width: 100%;
    font-size: 45px;
    line-height: 100%;
    color: #898989;
}


#soc-status{
    position: absolute;
    float: left;
    height: 65%;
    width: 24%;
    right: 0;
    bottom: 0;
    text-align: center;
}
#soc-status-value{
    position: relative;
    height: 70%;
    width: 100%;
    font-size: 80px; 
}
#soc-status-unit{
    position: relative;
    height: 30%;
    width: 100%;
    font-size: 45px;
    color: #898989;
} */