#slide-infographics {
    overflow: hidden;
}

.slide-info {
    height: 100%;
    width:100%;
    position: relative;
}

#speed-infograph {
    display: block;
}

#temperature-infograph {
    display: none;
}

#carbon-infograph {
    display: none;
}


.infograph-btn {
    position: absolute;
    left: 2.5%;
}
#trip-reset {
    position: absolute;
    right: 7.5%;
    top: 6%;
}
#odo-trip-info{
    position: absolute;
    height: 13%;
    width:25%;
    top: 0;
    right: 16%;
    text-align: left;

}
#odo-info{
    height:50%;
    width:100%;
}
#odo-info-title{
    height:100%;
    width:40%;
    float: left;
}
#odo-info-value{
    height:100%;
    width:35%;
    float: left;
    text-align: right;
}
#odo-info-unit{
    height:100%;
    width:25%;
    float: left;
    text-align: right;
}
#trip-info{
    height:50%;
    width:100%;
}
#trip-info-title{
    height:100%;
    width:40%;
    float: left;
}
#trip-info-value{
    height:100%;
    width:35%;
    float: left;
    text-align: right;
}
#trip-info-unit{
    height:100%;
    width:25%;
    float: left;
    text-align: right;
}

#odo-info-title,
#odo-info-value,
#odo-info-unit,
#trip-info-title,
#trip-info-value,
#trip-info-unit {
    font-size: 40px;
    color: #939393;
}

#temperature-chart{
    width: 80%;
    height: 70%;
    position: absolute;
    top: 20%;
    left: 15%;
}

#temperature-canvas{
    width: 800px !important;
    height: 650px !important;
}
