#js-trip-card {
    display: none;
}

#js-logo-frame {
    display: flex;
}

/* #js-dash-card {
    display: block;
} */

#js-keyboard {
    display: none;
}

#js-route-card {
    display: none;
}

#js-settings-page {
    display: none;
}

#js-notification-card {
    display: block;
}

#js-swupdate-card {
    display: none;
}

#js-signal-bar {
    display: none;
}

#js-bluetooth-card {
    display: none;
}

#js-kickstand-signal {
    display: none;
}

#js-bluetooth-input {
    display: none;
}

#js-ble-connection-notification {
    display: none;
}

#js-dash-card {
    display: none;
}

#js-stats-no-map{
    display: none;
}

#js-range-value-box-no-map{
    display: none;
}
