.mapboxgl-ctrl-top-left .mapboxgl-ctrl {
    margin: 60px 0 0 38px;
}
.mapboxgl-ctrl-geocoder--icon-search {
    left: 23px;
    top: 23px;
    width: 50px;
    height: 50px;
}

.geocoder-dark{
  /* background-color: #303030 !important; */
  background-color: rgb(60, 60, 60) !important;
  color: white !important; 
}

.geocoder-dark .mapboxgl-ctrl-geocoder--suggestion-title{
  color:white;
}

.geocoder-dark.mapboxgl-ctrl-geocoder .suggestions > .active > a{
  background-color: #303030 !important;
  color: white !important; 
}
.geocoder-dark .mapboxgl-ctrl-geocoder--button{
  background-color: #303030 !important;
}
.geocoder-light{
  background-color: white;
  /* color: white; */
  color: #404040;
  color: rgba(0, 0, 0, 0.75);
}
.mapboxgl-ctrl-geocoder.mapboxgl-ctrl-geocoder--collapsed {
    height: 5vh;
    width: 33vw;
    /* min-width: 80px; */
    transition: width .25s, min-width .25s;
    /* background: #FFFFFF; */
    /* background: #000000; */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.mapboxgl-ctrl-geocoder {
    font-size: 18px;
    line-height: 24px;
    font-family: Barlow;
    min-width: 1000px;
    min-height: 70px;
    min-width: 1124px;
    height: 5vh;
    z-index: 10;
    transition: width .25s, min-width .25s;
    padding-left: 30px;
    padding-top: 5px;

    /* background: #FFFFFF; */
    /* background: #000000; */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
  

.mapboxgl-ctrl-geocoder input[type='text'] {
  font-family: Barlow;
  width: 100%;
  border: 0;
  background-color: transparent;
  margin: 0;
  height: 80px;
  /* color: #404040;
  color: rgba(0, 0, 0, 0.75); */
  padding: 6px 55px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 50px;
}
.mapboxgl-ctrl-geocoder .suggestions {
    top: 120px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.geocoder-dropdown-item {
  padding: 5px;
  }
  .geocoder-dropdown-icon {
  margin-right: 10px;
  }
  .geocoder-dropdown-text {
  margin-left: 5px;
  color: grey;
  font-family: Barlow;
  /* font-size: 40px; */
  }
  .mapboxgl-ctrl-geocoder .suggestions > li {
      cursor: default;
      display: block;
      padding: 6px 12px;
      color: #404040;
      max-height: 200px;
      font-size: 34px;
    }

    .mapboxgl-ctrl-geocoder--icon-close {
      width: 40px;
      height: 40px;
      margin-top: 20px;
      margin-right: 20px;
    }
  
  
  .mapboxgl-ctrl-geocoder--suggestion-title{
      height: 30px;
      margin-bottom: 10px;
  }
  .mapboxgl-ctrl-geocoder--suggestion-address{
      height: 30px;
      margin-bottom: 10px;
      color: #A5A5A5;
  }

  #navigation-north{
      position: absolute;
      right: 0px;
      top: 95px;
  }
  .current-marker {
      background-image: url('../icons/current-marker.png');
      background-size: 70px 70px;
      width: 70px;
      height: 70px;
    }
    .destination-marker {
      background-image: url('../icons/destination-marker.png');
      background-size: 50px 50px;
      width: 50px;
      height: 50px;
    }

.mapboxgl-ctrl-logo{
  pointer-events: none;
}

.mapboxgl-ctrl-attrib-inner{
  pointer-events: none;
  font-size: 40px;
}

.mapboxgl-popup-content {
  margin: auto;
  font-size: 40px;
  font-family: Barlow;
  width: 275px;
  height: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  text-align: center;
  /* padding-top: 35px; */
  display: flex;
}
.mapboxgl-popup-content > p {
  margin: auto;
}
/* .mapboxgl-popup-close-button{
  display: none;
} */
.geocoder-dark .mapboxgl-ctrl.mapboxgl-ctrl-group{
  /* background-color: #303030 !important; */
  background-color: black !important;
}
.mapboxgl-ctrl.mapboxgl-ctrl-group {
  margin: 10px 10px 0 0;
  float: right;
  margin-top: 500px;
  margin-right: 40px;
  min-width: 75px;
  min-height: 75px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.mapboxgl-ctrl-compass{
  min-width: 75px;
  min-height: 75px;
}

.mapboxgl-ctrl button.mapboxgl-ctrl-compass .mapboxgl-ctrl-icon {
  background-image: url(../icons/map-north-red.svg);

}
