/* No Map */
.no-map-card {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

.greeting{
    display: flex;
    position: absolute;
    font-size: 96px;
    top: 80%;
    width: 100%;
    font-weight: 700;
}

.greeting > p {
    margin: auto;
}

.no-map-dash {
    width: 100%;
    height: 25%;
    position: absolute;
    display: flex;
    top: 12%;
}

.no-map-dash .mode-indicator {
    position: relative;
    height: 60%;
    width: 30%;
    top: 5%;
    overflow: hidden;
}

.no-map-dash .mode-indicator .mode-indicator-active{
    font-size: 55px;
}
.no-map-dash .mode-indicator .mode-indicator-active-dark{
    font-size: 55px;
}

.no-map-dash .mode-indicator-scroller {
    /* height: 80%; */
    width: 100%;
    margin-top: -25%;
}

.no-map-dash .mode-indicator__mode {
    font-size: 40px;
    height: 33%;
}

.no-map-dash .mode-divider-vertical {
    top: 5%;
    height: 60%;
}

.no-map-dash .speed-indicator__value{
    font-size: 300px;
    line-height: 100%;
}

.no-map-dash .speed-indicator__unit{
    font-size: 72px;
}

.no-map-dash .battery-indicator__value{
    font-size: 96px;
    line-height: 70%;
    display: flex;
}

.no-map-dash .battery-indicator__value > p {
    margin: auto;
}

.no-map-dash .battery-indicator{
    width: 20%;
    height: 95%;
}

.no-map-dash .battery-indicator__body {
    height: 65%;
    width : 100%;
    padding-top: 20%;
    flex-direction: column;
}
.no-map-dash .battery-body__main {
    position: relative;
    height: 204px;
    width: 102px;
    margin: auto;
    margin-top: 3px;
    background: rgba(48, 213, 200, 0.4);
    border-radius: 20px;
    overflow: hidden;
}
.no-map-dash .battery-body__cap {
    height: 16px;
    width: 40px;
    margin: auto;
    background: rgba(48, 213, 200, 0.4);
    border-radius: 2px;
}
.no-map-dash .battery-charge{
    background: #30D5C8;
    border-radius: 0px 0px 20px 20px;
    height: 0%;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.no-map-dash .travel-stats {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 92.5%;
    bottom: 0.66%;
    display: flex;
    /* background: #FFFFFF; */
    /* box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25); */
    border-radius: 20px;
    padding-left: 5%;
    padding-right: 4%;
    padding-top: 0.5%;
}
.p0-image{
    overflow: hidden;
    width: 100%;
    height: 40%;
    position: absolute;
    top: 40%;
    left: 10%;
    background-image: url('../images/p0-image.png');
    background-repeat: no-repeat;
}

.p0-text {
    width: 80%;
    height: 15%;
    position: absolute;
    top: 42.5%;
    left: 20%;
    background-image: url('../images/p0-text.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.no-map-card .time{
    position: absolute;
    height: 5%;
    width: 25%;
    top: 3.5%;
    right: 5%;
    font-size: 64px;
    font-weight: 500;
    text-align: right;
}

.no-map-dash .travel__label{
    font-size: 40px;
}
.no-map-dash .travel__value{
    font-size: 40px;
}

.no-map-dash .travel__unit{
    font-size: 40px;
}

.no-map-dash .trip-reset{
    font-size: 35px;
    min-height: 45px;
}

.no-map-dash .trip-reset > p {
    margin: auto;
    margin-top: 2.5%;
}
