#babbal-logo {
    height: 30%;
    width: 100%;
    text-align: center;
    padding-top: 30px;
}

#babbal-speed {
    height: 0%;
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
}

#babbal-speed-value {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-size: 16rem;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    width: 55%;
    float: left;
    text-align: right;
}

#babbal-speed-unit {
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 7rem;
    color: rgb(190, 190, 190);
    width: 40%;
    float: left;
    text-align: left;
    margin-top: 1%;
}

#babbal-info {
    height: 0%;
    width: 100%;
    opacity: 0;
    float: left;
}

#top-speed {
    padding-top:83px;
    padding-bottom: 10px;
    float: left;
    width:55%;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    font-weight: bold;
    margin-left: 10px;
}

#babbal-range {
    float: left;
    width: 40%;
    padding: 8px;
    max-height: 100%;
    text-align: right;
}

#babbal-range-unit {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 3rem;
    float: right;
    text-align: right;
    padding-top: 70px;
}

#babbal-range-value{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 8rem;
    float:right;
    text-align: right;
    width: 55%;
}
#top-speed-label {
    position: relative;
    float: left;
    width: 40%;
    text-align: left;
}

#top-speed-value {
    position: relative;
    float: left;
    width: 15%;
    text-align: right;
}

#top-speed-unit {
    position: relative;
    float: left;
    width: 20%;
    text-align: left;
}