<!DOCTYPE html>
<html>
<!-- -->

<head>
    <title> Javascript</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/plyr.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css')}}">

    <!-- it is always important to load all other dependencies then only call main.css and main.js -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

</head>

<!-- <body onload="timeCount();">  -->
<!-- call a specific JS function after whole page is loaded. I just added a call function at the end of JS -->

<body>


    <div class="containerMain">
        <div class="mySlides">


            <div class="notification">
            </div>

            <div class="timeDateName">
                <div class="time"></div>
                <div class="date"></div>
                <div class="name">Amulya</div>
            </div>

            <div id="wrapper">

                <div id="slider-wrap">
                    <ul id="slider">

                        <li style="padding-top: 50px;" data-color="#ffffff">
                            <div>
                                <img id="bikeGif" width="800" height="" src="{{ url_for('static', filename='images/wo1.gif')}}" />
                            </div>
                            <i class="fa fa-image"></i>
                        </li>


                        <li data-color="#3498db">
                            <div>
                                <div class="container">
                                    <div class="column add-bottom">
                                        <div id="mainwrap">
                                            <div id="nowPlay">
                                                <span style="float: left;"><img class="albumArt"
                                                        src="http://via.placeholder.com/400x400" /></span>
                                                <span>small Title</span>

                                            </div>
                                            <div id="audiowrap">
                                                <div id="audio0">
                                                    <audio id="audio1" preload controls>Your browser does not support
                                                        HTML5
                                                        Audio! 😢</audio>
                                                </div>
                                                <div id="tracks">
                                                    <a id="btnPrev">&larr;</a><a id="btnNext">&rarr;</a>
                                                </div>
                                            </div>
                                            <div id="plwrap">
                                                <ul id="plList"></ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <span>Sub-title #2</span>
                            </div>
                            <i class="fa fa-gears"></i>
                        </li>


                        <li data-color="#9b59b6">
                            <div>
                                <iframe width="480" height="450" frameborder="0" scrolling="no" marginheight="0"
                                    marginwidth="0"
                                    src="https://www.openstreetmap.org/export/embed.html?bbox=85.32276660203935%2C27.72784215033039%2C85.3262159228325%2C27.729463720021418&amp;layer=mapnik&amp;marker=27.728652938191388%2C85.32449126243591"
                                    style="border: 0px solid black"></iframe><br />
                            </div>
                            <i class="fa fa-sliders"></i>
                        </li>



                    </ul>


                    <div class="btns" id="next"><i class="fa fa-arrow-right"></i></div>
                    <div class="btns" id="previous"><i class="fa fa-arrow-left"></i></div>
                    <div id="counter"></div>

                    <div id="pagination-wrap">
                        <ul>
                        </ul>
                    </div>


                </div>

            </div>

            <span class="speed"></span><span>km</span>

            <div><img class="logo" src="{{ url_for('static', filename='images/logo.png')}}" /></div>

        </div>

        <div class="mySlides" style="width:480px; height:800px; padding:0px; margin:0px;background-color:white;">

            <div class="notification"></div>

            <div><iframe width="480" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="https://www.openstreetmap.org/export/embed.html?bbox=85.32276660203935%2C27.72784215033039%2C85.3262159228325%2C27.729463720021418&amp;layer=mapnik&amp;marker=27.728652938191388%2C85.32449126243591"
                    style="border: 0px solid black"></iframe>
            </div>

            <div style="height: 30px; margin-top: -50px; background: white;">


                <div class="column" style="width:480px;">
                    <span id="firstColumn">
                        <div>
                            <span style=" padding-top: 50px;" class="speedMain"></span>
                            km/hr
                        </div>
                    </span><span id="secondColumn">
                        <div>
                            <span style="margin-top:11.5px;padding-top: 50px;" class="powerMain"></span>
                            hp
                        </div>
                    </span><span id="thirdColumn">
                        <div>
                            <span style=" padding-top: 50px;" class="rangeMain"></span>
                            km
                        </div>
                    </span>


                    <span id="firstColumn">
                        <div>TRIP <span class="tripMain"></span></div>
                    </span><span id="secondColumn">
                        <div><img class="modeMain" src="{{ url_for('static', filename='images/mode1.png')}}" /></div>
                    </span><span id="thirdColumn">
                        <div>ODO <span class="odoMain"></span></div>
                    </span>

                    <span id="firstColumn">
                            <div><img class="leftTurn" src="{{ url_for('static', filename='images/leftArrowOff.png')}}" /></div>
                    </span><span id="secondColumn">
                        <div><img class="beam" src="{{ url_for('static', filename='images/highBeamOff.png')}}" /></div>
                    </span><span id="thirdColumn">
                            <div><img class="rightTurn" src="{{ url_for('static', filename='images/rightArrowOff.png')}}" /></div>
                    </span>





                </div>

                <div><img style="padding-top:57px;" class="logo" src="{{ url_for('static', filename='images/logo.png')}}" /></div>
            </div>

            <!-- <a class="prevMain" onclick="plusSlides(-1)">❮</a>
            <a class="nextMain" onclick="plusSlides(1)">❯</a> -->

        </div>
    </div>

    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/html5media.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/plyr.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>

</body>

</html>
