<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Random Over Time!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <style>
        .chart {
            height: 800px;
        }
    </style>
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">Welcome to Random Data Graph!</h1>
    </div>
</section>

<!-- Chart.js -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js'></script>
<!-- import Pusher-js library -->
<script src="https://js.pusher.com/4.1/pusher.min.js"></script>

<!--  Create canvas and script for graph-->
<canvas id="myChart" width="600" height="400"></canvas>
<p id="demo"></p>
<script type="text/javascript">
   // connect to Pusher
   const pusher = new Pusher('79949ba2731f8c34ad11', {
     cluster: 'ap2', // gotten from Pusher app dashboard
     encrypted: true // optional
   });
   // subscribe to crypto channel
   const channel = pusher.subscribe('random')
   // listen for relevant events
   channel.bind('data-updated', data => {
       const x_data = data.x
       const y_data = data.y
       console.log(x_data)
       console.log(y_data)
       document.getElementById("demo").innerHTML = y_data[y_data.length-1];
       // Plot using Chart.js
       // Plot chart

       var ctx = document.getElementById('myChart');
       var myChart = new Chart(ctx, {
           type: 'line',
           data: {
               labels: x_data,
               datasets: [{
                   label: '# of Votes',
                   data: y_data,
                   backgroundColor: [
                       'rgba(255, 99, 132, 0.0)',
                       'rgba(54, 162, 235, 0.0)',
                       'rgba(255, 206, 86, 0.0)',
                       'rgba(75, 192, 192, 0.0)',
                       'rgba(153, 102, 255, 0.0)',
                       'rgba(255, 159, 64, 0.0)'
                   ],
                   borderColor: [
                       'rgba(255, 99, 132, 1)',
                       'rgba(54, 162, 235, 1)',
                       'rgba(255, 206, 86, 1)',
                       'rgba(75, 192, 192, 1)',
                       'rgba(153, 102, 255, 1)',
                       'rgba(255, 159, 64, 1)'
                   ],
                   borderWidth: 1
                       }]
                   },
            options: {
                       animation: {
                           duration: 0
                       },
                       scales: {
                           yAxes: [{
                               ticks: {
                                   beginAtZero: true,
                                   max: 1
                               }
                           }]
                       },
                       legend: {
                           display: false
                       },
                       tooltips: {
                           enabled: false
                       }
                   }
               });
           })
</script>

</body>
</html>
